<html>
  <head>
  <title>Ciper</title>
  </head>

  <body>
    <h1>Caesar Cipher</h1>
    <form>
      <input type="text" name="cipher-text" />
      <input type="submit" value="Cipherize!" />
    </form>
  </body>
</html>