<html>
  <head>
  <title>Cipher</title>
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <form action="/output">
      <input type="text" name="cipher-text" />
      <br />
      <input type="number" name="shift" />
      <br />
      <input type="submit" value="Encode" />
    </form>    
  </body>
</html>